# Python
__pycache__/
*.pyc

# Environments
.project_env/
venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/raw/           # raw JSON/CSV files are usually large
data/processed/     # processed CSVs are generated, no need to track

# VS Code
.vscode/

# macOS
.DS_Store