# Python
__pycache__/
*.pyc

# Environments
.project_env/
venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/raw/           
data/processed/     

# Plots and figures
plots/
*.fig
*.png
*.jpg
*.svg

# LoRA checkpoints
lora_results/

# VS Code
.vscode/

# macOS
.DS_Store